:root{
    --appointment-radius: 5px;
}

.view-appointment-day{
    display: block;
    height: 48px;
    width: 48px;
    padding: 4px;
    border-radius: 12px;
}

.view-appointment-day.active{
    background-color: var(--color-main);
}

.view-appointment-day > div{
    text-align: center;
}

.view-appointment-day > div.number{
    font-size: 1.5em;
}

table{
    border-collapse: collapse;
    table-layout: fixed;
    width: calc(100vw - 16em - 16px);
}

table th, table td{
    border: 1px solid var(--color-border);
}

table td{
    border-bottom: 1px solid rgba(128, 128, 128, 0.4);
}

table tbody tr{
    height: calc(150vh / 24);
}

table th.time{
    font-weight: lighter;
    font-size: small;
    width: 2.5rem;
}

td.shade{
    color: var(--color-border);
}

td number{
    position: absolute;
    top: 4px;
    right: 4px;
}

table td{
    position: relative;
    padding: 0px 4px;
    box-sizing: border-box;
}

table .appointment{
    color: var(--color-text);
    border: 1px solid var(--color-border);
    border-radius: var(--appointment-radius);
    box-sizing: border-box;

    width: calc(100% - var(--appointment-radius));
    position: absolute;
    padding: var(--appointment-radius);
    top: 0px;
    left: 4px;
    overflow: hidden;
}

table .appointment p{
    margin: 0px;
    font-size: small;
}

table .appointment.openbottom{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: 0px solid black;
}

table .appointment.opentop{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top: 0px solid black;
}

table .appointment.openleft{
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom: 0px solid black;
}

table .appointment.openright{
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-top: 0px solid black;
}

table tr.whole-days .appointment{
    position: relative;
    display: block;
    margin: 4px 0px;
}

#month-widget{
    text-align: center;
    flex-grow: 2;
}

#month-widget h3{
    margin: 8px;
}

table.month{
    table-layout: fixed;
}

table.month td{
    height: calc(90vh/6);
}

table.month td .appointment{
    display: block;
    position: relative;
    margin: 4px 0px;
}

table.month td .appointment:first-of-type{
    margin-top: 1.5em;
}

@media only screen and (max-width: 500px){
    table{
        width: calc(100vw - 16px);
    }

    :root{
        --appointment-radius: 2px;
    }

    .appointment{
        font-size: 10px;
    }
}