.view-appointment-day{
    display: block;
    height: 48px;
    width: 48px;
    padding: 4px;
    border-radius: 12px;
}

.view-appointment-day.active{
    background-color: var(--color-main);
}

.view-appointment-day > div{
    text-align: center;
}

.view-appointment-day > div.number{
    font-size: 1.5em;
}

table{
    border-collapse: collapse;
    width: calc(100vw - 16em);
    table-layout: fixed;
}

table th, table td{
    border: 1px solid var(--color-border);
}

table td{
    border-bottom: 1px solid rgba(128, 128, 128, 0.4);
}

table tbody tr{
    height: calc(90vh / 24);
}

table th.time{
    font-weight: lighter;
    font-size: small;
    width: 2.5rem;
}

table.month td{
    position: relative;
    height: calc(90vh/6);
}

td.shade{
    color: var(--color-border);
}

td number{
    position: absolute;
    top: 4px;
    right: 4px;
}